//- <head>の中身だけ
- const サイト名 = "きっこのゲーム手帖"
- let 説明文 = "きっこのゲームまとめ"
- let local = "/game/"
- let サイトURL = "https://kikko.pages.dev/game/"

meta(charset="utf-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
if ゲーム名 !== undefined
	title= ゲーム名+" - "+サイト名
else
	title= サイト名
meta(name="description", content=説明文)
meta(name="format-detection", content="telephone=no")

// favicon/webclipicon
link(rel="icon", href=local+"img/favicon.ico")
//- link(rel="icon", href="favicon.svg", type="image/svg+xml")
//- link(rel="apple-touch-icon", href="webclip.png")

// ogp
meta(property="og:site_name", content=サイト名)
meta(property="og:url", content=サイトURL+フォルダ名)
meta(property="og:type", content="article")
meta(property="og:title", content=ゲーム名+" - "+サイト名)
meta(property="og:description", content=説明文)
meta(property="og:image", content=OGPイメージ)
meta(property="og:locale", content="ja_JP")
//- meta(property="fb:app_id", content="AppID")
meta(name="twitter:card", content="summary_large_image")
meta(name="twitter:site", content="@kikkokkokko")
meta(name="twitter:description", content=説明文)
meta(name="twitter:image:src", content=OGPイメージ)

// css
link(rel="stylesheet", href="https://unpkg.com/ress/dist/ress.min.css")
link(rel="stylesheet", href=local+"css/style.css")

// js
script(src=local+"js/script.js", defer)

//- 検索除け
//- meta(name="robots", content="noindex,nofollow")